{
  "openapi": "3.1.1",
  "info": {
    "title": "AiConnector | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ai.danielhufnagl.at/"
    }
  ],
  "paths": {
    "/api/info": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetApiInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetRuns",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/models": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetModels",
        "parameters": [
          {
            "name": "cli",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/claude/auth/status": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/claude/auth/login": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeAuthLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/claude/auth/code": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeAuthCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/codex/auth/status": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/codex/auth/login": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/workspaces": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetWorkspaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "CreateWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSummary"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetSessions",
        "parameters": [
          {
            "name": "cli",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "SaveSessions",
        "parameters": [
          {
            "name": "cli",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatSessionsSaveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsSavedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/servers": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetMcpServers",
        "parameters": [
          {
            "name": "cli",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodexMcpResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/mcp/servers/{name}": {
      "get": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "GetMcpServer",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodexMcpResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/cancel": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "CancelAllRuns",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cancel/{requestId}": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "CancelRun",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/upload": {
      "post": {
        "tags": [
          "EndpointsModule"
        ],
        "operationId": "UploadFiles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/prompt": {
      "post": {
        "tags": [
          "AiConnector"
        ],
        "operationId": "RunPrompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "tags": [
          "EndpointsModule"
        ],
        "operationId": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/directories": {
      "get": {
        "tags": [
          "EndpointsModule"
        ],
        "operationId": "GetDirectories",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoriesResponseBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiInfoResponse": {
        "required": [
          "defaultWorkingDirectory"
        ],
        "type": "object",
        "properties": {
          "defaultWorkingDirectory": {
            "type": "string"
          }
        }
      },
      "CancelRunsResponse": {
        "required": [
          "count"
        ],
        "type": "object",
        "properties": {
          "count": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "canceledAny": {
            "type": "boolean"
          },
          "canceled": {
            "type": "boolean"
          }
        }
      },
      "ChatMessageDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "error": {
            "type": "boolean"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChatSessionDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerKey": {
            "type": "string"
          },
          "cli": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "workdir": {
            "type": "string"
          },
          "started": {
            "type": "boolean"
          },
          "sortIndex": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessageDocument"
            }
          },
          "pending": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PendingFileDocument"
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatSessionsSaveRequest": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/ChatSessionDocument"
            }
          }
        }
      },
      "ClaudeAuthCodeRequest": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "ClaudeAuthLoginRequest": {
        "required": [
          "email"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "CodexMcpResult": {
        "required": [
          "success",
          "exitCode",
          "data",
          "output",
          "error",
          "durationMs"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "exitCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/McpServerInfo"
            }
          },
          "output": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "durationMs": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          }
        }
      },
      "CreateWorkspaceRequestBody": {
        "required": [
          "displayName",
          "id",
          "kind",
          "parentId"
        ],
        "type": "object",
        "properties": {
          "displayName": {
            "type": [
              "null",
              "string"
            ]
          },
          "id": {
            "type": [
              "null",
              "string"
            ]
          },
          "kind": {
            "type": [
              "null",
              "string"
            ]
          },
          "parentId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "DirectoriesResponseBody": {
        "required": [
          "current",
          "parent",
          "roots",
          "directories"
        ],
        "type": "object",
        "properties": {
          "current": {
            "type": "string"
          },
          "parent": {
            "type": [
              "null",
              "string"
            ]
          },
          "roots": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "directories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectoryEntryInfo"
            }
          }
        }
      },
      "DirectoryEntryInfo": {
        "required": [
          "name",
          "path"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "GetSessionsResponse": {
        "required": [
          "sessions"
        ],
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatSessionDocument"
            }
          }
        }
      },
      "LoginRequestBody": {
        "required": [
          "apiKey",
          "cli",
          "workspaceId"
        ],
        "type": "object",
        "properties": {
          "apiKey": {
            "type": [
              "null",
              "string"
            ]
          },
          "cli": {
            "type": [
              "null",
              "string"
            ]
          },
          "workspaceId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "LoginResponseBody": {
        "required": [
          "token",
          "cli",
          "defaultWorkingDirectory",
          "workspaceId",
          "serverWorkingDirectory"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "cli": {
            "type": "string"
          },
          "defaultWorkingDirectory": {
            "type": "string"
          },
          "workspaceId": {
            "type": [
              "null",
              "string"
            ]
          },
          "serverWorkingDirectory": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "McpServerInfo": {
        "required": [
          "name",
          "transport",
          "command",
          "url",
          "status",
          "enabled",
          "tools"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "transport": {
            "type": [
              "null",
              "string"
            ]
          },
          "command": {
            "type": [
              "null",
              "string"
            ]
          },
          "url": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "type": [
              "null",
              "string"
            ]
          },
          "enabled": {
            "type": "boolean"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ModelsResponse": {
        "required": [
          "cli",
          "models"
        ],
        "type": "object",
        "properties": {
          "cli": {
            "type": "string"
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PendingFileDocument": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "error": {
            "type": "boolean"
          }
        }
      },
      "PromptRequest": {
        "required": [
          "prompt"
        ],
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          },
          "outputFormat": {
            "type": [
              "null",
              "string"
            ]
          },
          "model": {
            "type": [
              "null",
              "string"
            ]
          },
          "workingDirectory": {
            "type": [
              "null",
              "string"
            ]
          },
          "sessionId": {
            "type": [
              "null",
              "string"
            ]
          },
          "codexThreadId": {
            "type": [
              "null",
              "string"
            ]
          },
          "resumeSession": {
            "type": "boolean",
            "default": false
          },
          "requestId": {
            "type": [
              "null",
              "string"
            ]
          },
          "workspaceId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "PromptResponse": {
        "required": [
          "success",
          "exitCode",
          "output",
          "error",
          "durationMs",
          "timedOut",
          "canceled",
          "requestId",
          "workingDirectory"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "exitCode": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "output": {
            "type": "string"
          },
          "error": {
            "type": [
              "null",
              "string"
            ]
          },
          "durationMs": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          },
          "timedOut": {
            "type": "boolean"
          },
          "canceled": {
            "type": "boolean"
          },
          "requestId": {
            "type": "string"
          },
          "workingDirectory": {
            "type": "string"
          }
        }
      },
      "RunningClaudeProcessInfo": {
        "required": [
          "requestId",
          "startedAt",
          "processId",
          "workingDirectory",
          "outputFormat"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "processId": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "workingDirectory": {
            "type": "string"
          },
          "outputFormat": {
            "type": "string"
          }
        }
      },
      "RunsResponse": {
        "required": [
          "runs"
        ],
        "type": "object",
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunningClaudeProcessInfo"
            }
          }
        }
      },
      "SessionsSavedResponse": {
        "required": [
          "saved"
        ],
        "type": "object",
        "properties": {
          "saved": {
            "type": "boolean"
          }
        }
      },
      "UploadedFileInfo": {
        "required": [
          "name",
          "path",
          "size"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int64"
          }
        }
      },
      "UploadResponseBody": {
        "required": [
          "files"
        ],
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadedFileInfo"
            }
          }
        }
      },
      "WorkspaceListResponse": {
        "required": [
          "workspaces"
        ],
        "type": "object",
        "properties": {
          "workspaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceSummary"
            }
          }
        }
      },
      "WorkspaceSummary": {
        "required": [
          "id",
          "displayName",
          "kind",
          "parentId",
          "schemaVersion",
          "createdAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "parentId": {
            "type": [
              "null",
              "string"
            ]
          },
          "schemaVersion": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "AiConnector"
    },
    {
      "name": "EndpointsModule"
    }
  ]
}