# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/

# OS files
.DS_Store
Thumbs.db

# Uno Platform
*.generated.cs
.uno/

# MSBuild
MSBuild_Logs/
